.input-group {
    flex-direction: column;
    display: flex;
    gap: 0.5rem;
    left: 140px;
    position: relative;
}

.input-group label {
    text-align: left;
    display: block;
    margin-top: 0.3rem;
    color: #2D2929;

}

input {
    padding: 0.5rem;
    border: 1px solid #2D2929;
    font-size: 1rem;
    color: #2D2929;
}

input:hover {
    border: 1px solid #092E75
}

form {
    width: 650px;
    height: 560px;
    background-color: white;
    position: relative;
    left: 180px;
    display: flex;
    border: 1px solid gray;
    border-radius: 5px;
}

.form-box {
    background-color: none;
    width: 600px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    top: 5px;
    display: 'flex';
    justify-content: 'center';
}

.form-box label, input {
    font-size: 11px;
    
    position: relative;
    top: 0.25rem;
}

.form-box .inform-errors {
    color: red;
    position: relative;
    left: 140px;
}

.dropzone-box {
    align-items: center;
}

.dropzone {
    border: 2px dashed #2D2929;
    padding: 1rem;
    position: relative;
    left: 150px;
    width: 300px;
    height: 150px;
    top: 5px;
}

.dropzone p {
    color: #2D2929;
    position: relative;
    top: 45px;
    left: 75px;
    align-content: center;
}

.dropzone:hover {
    cursor: pointer;
}

.btns {
    width: 400px;
    height: 60px;
    background-color: none;
    position: relative;
    top: 460px;
    left: -180px;
}

button {
    background-color: #092E75;
    border: 2px solid #2D2929;
    border-radius: 4px;
    cursor: pointer;
    width: 285px;
    height: 45px;
    position: relative;
    color: #EFE6E6;
    font-weight: bold;
    font-size: 1rem;

    display: table-cell;
    vertical-align: middle;
}

button:hover {
    border: 2px solid #2D2929;
    background-color: green;
}

.btns .changeform {
    position: relative;
    left: 20px;
    top: 5px;
    color: #2D2929;
    width: 250px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    text-decoration: underline;
}

.btns .resetPW {
    position: relative;
    top: 3px;
    font-size: 12px;
    color: #2D2929;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

.btns .changeform:hover {
    color: red;
    cursor: pointer;
}

.btns .resetPW:hover {
    color: red;
    cursor: pointer;
}

