.addPostContainer {
    width: 850px;
    max-height: 850px;
    position: absolute;
    left: 220px;
    top: 180px;
    background-color: none;
    border-radius: 5%;
}


form {
    width: 850px;
    height: auto;
    background-color: #DAD4D4;
    position: relative;
    left: 180px;
    display: flex;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 1rem;
}

.imagePreview {
    width: 100%;
    height: 100%;
    max-height: 280px;
    background-color: darkblue;
    padding: 1rem;
    border-radius: 3px;
    overflow: hidden;
    transition: all 0.3s;
}

.image-preview img {
    width: 50%;
    height: auto;
}

.noImage {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.3;
    color: #2D2929;
    position: relative;
    left: 50px;
}

.input-group-evi {
    flex-direction: column;
    display: flex;
    gap: 0.5rem;
    position: relative;
    left: 50px;
}

.input-group-evi label {
    text-align: left;
    display: block;
    margin-top: 0.3rem;
    color: #2D2929;
    font-size: 1.4rem;
    font-weight: 500;
}

input {
    padding: 0.5rem;
    border: 1px solid #2D2929;
    font-size: 1rem;
    color: #2D2929;
    width: 100%;
    border-radius: 3px;
}

input:hover {
    border: 1px solid #092E75
}

.selectVisibility {
    position: relative;
    top: 20px;
    left: 50px;
}

.selectVLable {
    text-align: left;
    display: block;
    margin-top: 0.3rem;
    color: #2D2929;
    font-size: 1.4rem;
    font-weight: 500;
}

.content-box{
    position: relative;
    left: 50px;
    top: 30px;
}

.eviSubmBtns {
    position: relative;
    margin: 2rem 0;
    left: 50px;
    top: 20px;
}

.submitBtnEvi {
    width: 120px;
    height: 40px;
    background-color: blue;
    border-radius: 5px;
    border: none;
    color: #DAD4D4;
    font-size: 1.2rem;
    cursor: pointer;
}

.submitBtnEvi:hover {
    background-color: green;
    border: 1px black solid;
    border-width: 2px;
}

.content-label {
    color: #2D2929;
    font-size: 1.4rem;
    font-weight: 500;
}

.addEviTitle {
    position: relative;
    left: 150px;
    bottom: 20px;
    margin: 0 0 0 45px;
    font-size: 2rem;
}

