.dashboard-btn {
    background-color: orangered;
    color: #DAD4D4;
    font-size: 1.6rem;
    font-weight: 400;
    padding: 6px 8px;
    margin: 0 5px 15px 350px;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    width: 95px;
    height: 45px;
    bottom: 15px;
}

.dashboard-btn:hover {
    border: 1px solid #DAD4D4;
}

.welcome {
    margin-left: 20px;
    margin-right: 200px;
    font-size: 1.6rem;
}