.question {
    background-color: brown;
    padding: 10px;
    min-height: 60px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.answers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}