.publicPostDetails {
    margin-bottom: 5rem;
    width: 100%;
    max-width: 500px;
    position: relative;
    top: 200px;
    left: 200px;
    display: flex;
    flex-flow: row wrap;
}

.publicPDTitle {
    font-size: 50px;
}

.publicDetailsCard {
    width: 100%;
    max-width: 500px;
    padding: 1rem;
    background-color: #EFE6E6;
} 

.publicDetails {
    margin-bottom: 1rem;
}

.PDcontainer {
    border: 1px solid var(--dark-blue);
    padding: 5px;
}

.ppAlert {
    color: #2D2929;
}

.public-badge {
    background-color: transparent;
    color: #2D2929;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 3px;
}

.p-ppdetails {
    color: #2D2929;
}

.p-h4-ppdetails {
    color: #2D2929;
    font-size: 25px;
}

.publicEvidenceContent {
    font-size: 18px;
    color: #2D2929;
}

.actionBtnsGroup {
    margin-top: 15px;

}

.actionButton {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-right: 20px;
}

.actionButton:hover {
    border: none;
    background-color: transparent;
    transform: translateY(-2px); 
}